// General app theme colors

$light-blue: #4795d8;
$dark-blue: #244564;
$light-green: #cdea9f;
$orange: #ffd570;
$light-gray: #f5f5fa;
$medium-gray: #d1d1d6;
$dark-gray: #656568;

// Outline of "Add Account" button
$add-account-button: #45607b;

// Text
$main-app-text: #383e42;
$white: #fff;
$account-text: #bcc6d0;
