@use "colors";
@use "dimens";

.all-acounts {
}

.budget-header {
  display: flex;
  justify-content: space-between;
  padding: dimens.$medium;
  font-weight: bold;
  color: colors.$white;
}

.budget-title {
  font-weight: bold;
  color: colors.$white;
}

.budget-total-amount {
  font-weight: bold;
  color: colors.$white;
}

.account-wrapper {
  display: flex;
  justify-content: space-between;
  padding: dimens.$large;
  font-weight: bold;
  color: colors.$white;
}
