@use "colors";
.budget-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.budget-container {
  display: flex;
  justify-content: space-between;
}

.budget-wrapper {
  width: 100%;
}

.category-group-bar {
  border: 1px solid colors.$medium-gray;
}

.add-category-group {
  color: colors.$light-blue;
}
