@use "colors";
@use "dimens";
.budget-page {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.budget-container {
  display: flex;
  justify-content: space-between;
}

.budget-wrapper {
  width: 100%;
}

.category-group-bar {
  border: 1px solid colors.$medium-gray;
}

.add-category-group {
  color: colors.$light-blue;
  /* Prevents highlighting text when user double-clicks*/
  user-select: none;
}

.category-assign-activity-available-bar {
  display: flex;
  justify-content: space-between;
  @extend .category-group-bar;
}

.category-assign-activity-available-bar-left {
}

.category-assign-activity-available-bar-right {
  display: flex;
  justify-content: space-evenly;
}

.category-assign-activity-available-bar-item {
  padding-left: dimens.$medium;
  padding-right: dimens.$medium;
  color: colors.$dark-gray;
}
