@use "colors";
@use "dimens";

.category {
  display: flex;
  justify-content: space-between;
  padding: dimens.$medium;
  border: 1px solid colors.$medium-gray;
  &:hover {
    #et-edit-available {
      display: flex;
      margin-right: dimens.$medium;
      width: 100px;
      padding: 0px;
    }

    .calc-category-available {
      display: flex;
      margin-right: dimens.$medium;
      user-select: none;
      color: colors.$dark-gray;
    }
  }
}

.category-name {
  color: colors.$main-app-text;
}

.category-right-side {
  display: flex;
}

#et-edit-available {
  display: none;
}

.calc-category-available {
  display: none;
}

.plus {
  &:hover {
    font-weight: bold;
  }
}

.minus {
  &:hover {
    font-weight: bold;
  }
}
