@use "colors";
@use "dimens";

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: colors.$medium-blue;
}

.account-header {
  margin-bottom: dimens.$large;
}

.current-budget {
  color: colors.$white;
  margin: dimens.$large dimens.$small 0 dimens.$small;
}

.user-account {
  color: colors.$account-text;
  margin: dimens.$small dimens.$small dimens.$large dimens.$small;
}
.overview-sections {
  margin: 0;
}

.page-overview {
  padding: dimens.$medium;
  color: colors.$white;
  background-color: colors.$light-blue;
}
